table {
  width: 80%;
  margin: 40px auto;
  border-collapse: collapse;
}

th {
  width: 33.33%;
  background-color: rgba(0, 0, 0, 0.879);
  color: white;
  font-size: 24px;
  padding: 8px;
  text-align: center;
  border: 2px solid black;
}

td {
  width: 33.33%;
  padding: 8px;
  font-size: 24px;
  color: black;
  text-align: center;
  border: 2px solid black;
}

.firstColumn {
  text-align: left;
  text-indent: 32%;
}

.firstColumn::first-letter {
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.49);
}
